.text-design2{
    font-size: 30px;
    color:#7abd78;
    font-weight: bold;
    filter: drop-shadow(0px 1px 2px #575757);
}
.text-design3{
    font-size: 50px;
    color:#7abd78;
    font-weight: bold;
    filter: drop-shadow(0px 1px 2px #575757);
}




